@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/*---------- General ----------*/
:root {
--cyan: hsl(180, 66%, 49%);
--darkViolet: hsl(257, 27%, 26%);
--red: hsl(0, 87%, 67%);
--gray: hsl(0, 0%, 75%);
--grayishViolet: hsl(257, 7%, 63%);
--veryDarkBlue: hsl(255, 11%, 22%);
--veryDarkViolet: hsl(260, 8%, 14%);
}

body{
    margin: auto;
    max-width: 1440px;
    min-width: 375px;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4{
    color: var(---veryDarkViolet);
    font-weight: 700;
}
p{
    color: var(--grayishViolet);
}
/*color: var(--cyan);*/
/*-----------------------------*/

/*---------- Navbar ----------*/
a {
    color: var(--grayishViolet);
}
a:hover{
    color: black;
}
#SignUp{margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--cyan);
    border-radius: 20px;
    color: white;
}

/*----------------------------*/

/*---------- Section-1 ----------*/
div.ilustration-1{
    background-image: url(/images/illustration-working.svg);
    background-size: cover;
}

/*-------------------------------*/

/*---------- Section-2 ----------*/

.container-section-2{
    background: var(--darkViolet);
    background-image: url(/images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------*/

/*---------- Section-3 ----------*/
.icon-section-3{
    margin-top: 20px; 
}
.rounded-circle{
    background: var(--veryDarkBlue);
    height: 90px;
    text-align: center;
    width: 90px;
}
/*-------------------------------*/