@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/*---------- General ----------*/
:root {
  --cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 95%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: var(---veryDarkViolet);
  font-weight: 700;
}
p {
  color: var(--grayishViolet);
}
/*color: var(--cyan);*/
/*-----------------------------*/

/*---------- Navbar ----------*/
a {
  color: var(--grayishViolet);
}
a:hover {
  color: black;
}
#SignUp {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--cyan);
  border-radius: 20px;
  color: white;
}

/*----------------------------*/

/*---------- Section-1 ----------*/
div.ilustration-1 {
  background-image: url(images/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: 600px;
  height: 500px;
  width: 500px;
}
.Section-1 button {
  color: white;
  background-color: var(--cyan);
  border: none;
  border-radius: 40px;
  padding: 10px 40px 10px 40px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.3rem;
  }
  .Section-1 {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  div.ilustration-1 {
    background-size: contain;
    background-position: center;
    height: 200px;
  }
}

/*-------------------------------*/

/*---------- Section-2 ----------*/
.Section-2 {
  background: linear-gradient(white 50%, var(--gray) 50%);
}

.container-section-2 {
  background: var(--darkViolet);
  border-radius: 10px;
  padding: 50px;
}

@media only screen and (min-width: 376px) {
  .container-section-2 {
    background-image: url(images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 375px) {
  .container-section-2 {
    background-image: url(images/bg-shorten-mobile.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 200px;
    padding: 20px;
  }
}

/*-------------------------------*/

/*---------- Section-3 ----------*/
.Section-3 {
  background-color: var(--gray);
}
.rounded-circle {
  background: var(--veryDarkBlue);
  height: 90px;
  padding: 23px;
  position: absolute;
  width: 90px;
}
.tag {
  background: white;
  border: 1px solid black;
  padding: 20px;
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 1.6rem;
  }
}
/*-------------------------------*/

/*-------------- begin Section-4  --------------*/
.Section-4 {
  background-color: var(--darkViolet);
  background-image: url(images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Section-4 p {
  font-size: 30px;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
}

.Section-4 button {
  color: white;
  background-color: var(--cyan);
  border-radius: 40px;
  padding: 10px 40px 10px 40px;
}

@media only screen and (max-width: 600px) {
  .Section-4 p {
    font-size: 20px;
  }
}
/*--------------- end Section-4  ---------------*/

/*---------- begin Section-5 (footer) ----------*/
.Section-5 {
  background-color: var(--veryDarkViolet);
  color: white;
}

.Section-5 div div div p {
  line-height: 20px;
}

.Section-5 div div div p:first-child {
  color: white;
  margin-bottom: 30px;
}

.Section-5 img {
  align-content: center;
  padding: 0 5px 0 5px;
}
@media only screen and (max-width: 600px) {
  .Section-5 {
    text-align: center;
  }
  .Section-5 div div div {
    margin-bottom: 20px;
  }
  .Section-5 div div div:first-child h3 {
    text-align: center;
  }
  .Section-5 div div div:nth-child(2) {
    margin-top: 20px;
  }
}
/*---------- end Section-5 (footer) ----------*/
